@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --canvas-scale-x: -0.95;
  --canvas-scale-y: 0.95;
  --canvas-top: 0px;
  --canvas-left: 0px;
  --timer-overlay-top: 80%;
}

@media (min-width: 765px) and (max-width: 990px) {
  :root {
    --canvas-scale-x: -0.93;
    --canvas-scale-y: 0.93;
    --canvas-top: -10px;
    --canvas-left: -0.5px;
    --timer-overlay-top: 85%;
  }
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}

body {
  overflow: overlay;
}

.footer-link {
  transition: .4s;
  color: rgba(255,255,255,0.55);
}
.footer-link:hover {
  transition: .4s;
  color: rgba(255,255,255,0.75);
}

#timer-overlay {
  position: absolute;
  z-index: 20;
  top: var(--timer-overlay-top);
  left: calc(50% - 80px);
  width: 150px;
  font-family: 'Roboto Mono', monospace;
}

#timer {
  position: relative;
  top: 2.5px;
}

#fps-overlay {
  position: absolute;
  z-index: 20;
  top: 2.5%;
  left: calc(50% + -45px);
  font-family: 'Roboto Mono', monospace;
}

#fps-overlay .badge {
  border-radius: 0px;
}

#canvas-wrap {
  position: relative; /* Make this a positioned parent */
}

.canvas, .video {
  scroll-margin: 20px; /*Offset*/
  /*Mirrored*/
  transform: scale(
    var(--canvas-scale-x), var(--canvas-scale-y));
  /*Position*/
  position: absolute;
  z-index: 10;
  top: var(--canvas-top);
  left: var(--canvas-left);
  /*Responsive*/
  width: 100%;
  height: auto;
  /*background-color:rgba(255,0,0,0.5);*/
}

#canvas-placeholder {
  /*Center Div*/
  margin-left: auto;
  margin-right: auto;
}

#text-overlay {
  position: absolute;
  z-index: 20;
  top: calc(50% - 22px);
  left: calc(50% - 52px);
}

#spin-overlay {
  position: absolute;
  z-index: 20;
  top: calc(50% - 10px);
  left: calc(50% - 157px);
}

#downcounter {
  position: absolute;
  top: calc(50% - 68px);
  left: calc(50% - 24px);
}

@keyframes count {
  0% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.nums {
  font-size: 5rem;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  animation: count 0.1s cubic-bezier(0.1,0.1,1,1) 1;
}

.toast-container {
  position: sticky;
  z-index: 20;
  height: 0;
  top: 5px;
  left: 10px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,0);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.toast-container {
  z-index: 30;
}

.numbers {
  font-family: 'Arial', sans-serif;
  font-size: 10vh;
  line-height: 1em;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 0px !important;
  overflow: hidden;
}
.numbers__window {
  display: inline-block;
  overflow: hidden;
  width: 0.5em;
  height: 1em;
}
.numbers__window__digit {
  font: inherit;
  word-break: break-all;
  display: block;
  width: 0;
  padding: 0 0.52em 0 0;
  margin: 0 auto;
  overflow: inherit;
  animation: counting 0.4s steps(10) forwards infinite;
}
.numbers__window__digit::before {
  content: attr(data-fake);
  display: inline-block;
  width: 100%;
  height: auto;
}
.numbers__window__digit--1 {
  animation-iteration-count: 3;
}
.numbers__window__digit--2 {
  animation-iteration-count: 6;
}
.numbers__window__digit--3 {
  animation-iteration-count: 9;
}
.numbers__window__digit--4 {
  animation-iteration-count: 12;
}
.numbers__window__digit--5 {
  animation-iteration-count: 15;
}
.numbers__window__digit--6 {
  animation-iteration-count: 18;
}
.numbers__window__digit--7 {
  animation-iteration-count: 21;
}

@keyframes counting {
  100% {
    transform: translate3d(0, -10em, 0);
  }
}

.hr {
  display: inline-block;
}
.hr:after {
  content: '';
  display: block;
  border-top: 1px solid gray;
}