<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/styles/style.css" />
  <title>LSApp👋</title>
</head>
<body class="d-flex flex-column min-vh-100">

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 sticky-top">
    <div class="container">
      <a href="index.html" class="navbar-brand">LSApp👋</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="translate.html" class="nav-link active">Traduce (BETA)</a>
          </li>
          <li class="nav-item">
            <a href="learn.html" class="nav-link">Aprende</a>
          </li>
          <li class="nav-item">
            <a href="how-it-works.html" class="nav-link">Cómo funciona</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center p-2">
    <h1>¡Traduce en Tiempo Real! (BETA)</h1>
    <p class="lead">
      Utiliza el sistema de reconocimiento automático de lengua de señas argentina enfocándola a la persona que realizará las señas, el sistema capturará sus movimientos y obtendrá los subtítulos en tiempo real 🤙.
    </p>
    <p>
      La subtitulación en tiempo real permite que las personas sordas utilicen su lengua natural y sea traducida a la lengua escrita para comunicarse con otras personas, de modo que puedan comunicarse de igual forma con personas que sepan lengua de señas y aquellas que no, dado que estas últimas representan la gran mayoría de la población argentina y del mundo.
    </p>

    <hr>

    <div class="progress">
      <div id="progressbar-models" class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Cargando Modelos: 25%</div>
    </div>
    <button id="btn-start-webcam" type="button" class="btn btn-outline-success btn-sm m-1" disabled>Iniciar 📷</button>
    <br>
    <div class="badge bg-dark text-start mb-2 block" style="width: 72px;">FPS: <span id="fps"></span></div>
    <div class="badge bg-danger text-start mb-2 block" style="width: 110px;">REC 🔴: <span id="timer">0.00 seg</span></div>
    <div id="canvas-wrap">
      <div id="canvas-placeholder" class="img-thumbnail"></div>
      <div id="overlay" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div id="downcounter"></div>
      <video class="video" width="640" height="480" autoplay></video>
      <canvas class="canvas" width="640" height="480" class="img-thumbnail"></canvas>
    </div>
    <hr>
  </div>

  <!-- Push Notification with Toast -->
  <div id="toast-models" class="toast align-items-center text-white bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 80px; left: 20px;">
    <div class="d-flex">
      <div class="h3 ms-3 mt-1 align-self-center">
        <i class="bi bi-info-circle"></i>
      </div>
      <div class="toast-body">
        ¡Modelos cargados exitosamente!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <div id="toast-frames" class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 80px; left: 20px;">
    <div class="d-flex">
      <div class="h3 ms-3 align-self-center">
        <i class="bi bi-exclamation-triangle"></i>
      </div>
      <div class="toast-body">
        No se captaron fotogramas suficientes, intenta nuevamente.
      </div>
      <button type="button" class="btn-close btn-close-white me-3 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <!-- Footer -->
  <footer class="p-5 bg-dark text-white position-relative mt-auto">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 text-center text-xl-start">
          <span class="lead">Copyright &copy; 2022 Instituto de Investigacion en Informática - LIDI</span>
          <img class="img-fluid d-none d-xl-inline" style="height: 25px" src="../static/images/iii-lidi-logo.png" alt="">
        </div>
        <div class="col-md text-center text-xl-end">
          <a href="tos.html" class="footer-link nav-link" style="display:inline-block;">Términos de Servicio</a>
          <a href="policy.html" class="footer-link nav-link" style="display:inline-block;">Política de Privacidad</a>
          <a href="faq.html" class="footer-link nav-link" style="display:inline-block;">FAQ</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Require the peer dependencies of pose-detection, hand-pose-detection and face-landmarks-detection. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>

  <!-- You must explicitly require a TF.js backend if you're not using the TF.js union bundle. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>

  <!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh"></script>

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/hand-pose-detection"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/face-detection"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/face-landmarks-detection"></script>

  <script type="module" src="../static/js/AppLSA.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>